body {
	background-color: rgb(236, 236, 236);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(114, 57, 114);
}
h1 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: x-large;
}

h2 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: large;
	color: rgb(185, 49, 0);
}

h3 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
	color: rgb(99, 97, 97);
	padding-left: 20px;
}

h4 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
}
